<html xmlns="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div>
		<nav class="navbar navbar-expand-sm bg-dark p-4">
			<a class="navbar-brand" href="home">Student Placement Network</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-pills mr-auto">
					<li class="nav-item">
						<a class="nav-link active" href="home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="create-profile">Create Profile</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<span class="navbar-text mr-3" style="color: darkorange;">Welcome, <span
								th:text="${studentname}"></span>!</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="logout">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container my-5 ">
		<h3 class="text-center">Welcome to Student Placement Network</h3>
		<p>This is home page of Student placement network program</p>
		<p><i>Student Placement Network</i> is good way to make connections with similar interests
			and goals
		</p>
		<p>Provides an oppurtunity to get job based on skills</p>
		<p>SPN provides different categorized job opportunity. It also allows to upload resume</p>
		<p></p>
	</div>
	<footer>
		<p>Copyright © 2023 : Student Placement Network |<br>
			developed by PG-DAC(group-1)</p>
	</footer>
</body>

</html>